*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #111827;
    line-height: 1.6;
}

section{
    padding: 80px 10%;
}

h1,h2,h3{
    margin-bottom: 15px;
}

p{
    margin-bottom: 10px;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}
.dark-mode{
    background-color:#111827;
    color:white;
}
.dark-mode .hero{
    background:#111827;
    color:white;
}
.dark-mode .card{
    background:#1f2937;
    color:white;
}

.dark-mode .card p{
    color:#d1d5db;
}
.dark-mode .hero button{
    background:#3b82f6;
    color:white;
}